marquee{
    background-color: rgb(196, 121, 36);
}
body{
    background-color: #ceb1be;
}
marquee{
    background-color: rgb(200, 140, 206);
}
marquee{
    background-color: rgb(236, 130, 210);
}